@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><b>This is ASP.NET Book management project with a Model View and a controller. You can add an entity, update an enity and
        delete as well. As you know that, it's a CRUD Application using .Net Framework.(Create, Read, Update And Delete)
            I installed three packages: Microsoft.SqlServer, Microsoft.Tools and Microsoft.FrameworkCore.
           
    </b> </p>
</div>
